{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "extends": "airbnb",
  "rules": {
    "space-before-function-paren": 0,
    "react/prefer-stateless-function": 1,
    "forbid-prop-types": [0, { "forbid": ['any', 'array', 'object'] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
